{% extends 'base.html' %}
{% block content %}
<h1>La liste des conférences</h1>
<a href="{% url 'Conference_creation' %}">add</a>
<table>
    <tr>
        <td>Title</td>
        <td>Themes</td>
        <td>Date de conférences</td>
    </tr>
    {% for c in liste %}
    <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.theme }}</td>
        <td>{{ c.start_date }} - {{ c.end_date }}</td>
        <td><a href="{% url 'conference_details' c.pk %}">Détails</a></td>
        <td><a href="{% url 'Conference_update' c.pk %}">Update</a></td>
        <td><a href="{% url 'Conference_delete' c.pk %}">Delete</a></td>
        
    </tr>
    {% endfor %}
</table>
{% endblock %}